<table width="100%" border="0" cellspacing="0" cellpadding="6"  >
  <tr>
    <td width="20" valign="top" >&nbsp;</td>
    <td valign="top" ><br>
        <h1>Results Processing System Admin</h1>
        <br>
<table width="100%" border="0" cellspacing="0" cellpadding="0">


<tr><td><a href ="<%= root_path %>admin/results_export_form/">Results Data Export</a></td></tr>
<tr><td><a href ="<%= root_path %>admin/uos_unlock">UOS unlock</a></td></tr>
<tr><td><a href ="<%= root_path %>admin/examiner_list">Examiner List</a></td></tr>
<tr><td><a href ="<%= root_path %>admin/results_list">Results Data Export (completed only)</a></td></tr>
<tr><td><a href ="<%= root_path %>admin/configuration">Configuration</a></td></tr>
<tr><td><a href ="<%= root_path %>admin/examiner_notification">Examiner Notification</a></td></tr>
<tr><td><a href ="<%= root_path %>admin/uos_list">UOS List</a></td></tr>
</table>
</td></tr></table>